# Update these with your Supabase details from your project settings > API or if you are running Supabase locally use values that you get when you start supabase db
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PRIVATE_SERVICE_ROLE_KEY=your-service-key
NEXT_PUBLIC_VERCEL_URL="http://localhost:3000"

NEXT_PUBLIC_VERCEL_URL=http://localhost:3000

# on local development you can remove the following lines
NEXT_PRIVATE_DB_NAME=
NEXT_PRIVATE_DB_HOST=
NEXT_PRIVATE_DB_USER=
NEXT_PRIVATE_DB_PASS=
NEXT_PRIVATE_DB_PORT=