@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--orange);
    --orange: #ffd5ba;
    --foreground: #000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--orange);
      --orange: #ffd5ba;
      --foreground: #000;
    }
  }
}

* {
  text-transform: uppercase;
}

input,
textarea {
  text-transform: none;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-primary {
  @apply px-4 py-2 mb-2 text-sm text-center bg-black border-2 border-black rounded-md sm:text-base text-orange hover:opacity-70;
}

.btn-secondary {
  @apply px-4 py-2 mb-2 text-sm font-bold text-center text-black border-2 border-black rounded-md md:text-base hover:opacity-70;
}

.input-label {
  @apply block mb-2 font-medium text-black;
}

.input-label>label {
  @apply text-red-500;
}

.no-resize {
  resize: none;
}

.input {
  @apply block w-full px-4 py-2 text-black bg-white border border-black rounded-md shadow-md bg-inherit focus:border-2;
}

.input-helper-text {
  @apply mt-3 text-gray-800;
}

.form {
  @apply grid w-full gap-4 mx-auto;
}

.form-error {
  @apply p-4 mt-4 text-white bg-red-500 rounded-md;
}

.form-success {
  @apply p-4 mt-4 text-white bg-green-500 rounded-md;
}

.white-container {
  @apply p-4 bg-white rounded-md shadow-2xl md:p-5;
}

.white-container-minimal-p {
  @apply p-1 bg-white rounded-md shadow-2xl;
}

.white-container-no-p {
  @apply bg-white rounded-md shadow-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-sm;
}

label,
p {
  @apply text-sm;
}

.voucher {
  @apply rounded-md
}

.close-button {
  @apply absolute right-0 w-fit;
}

.voucher-background {
  @apply fixed top-0 left-0 z-50 flex justify-center w-full h-full bg-black bg-opacity-75;
}

.voucher-part {
  @apply p-5 bg-white text-center items-center border-t-2 rounded-b-lg shadow-2xl top-1/2 relative
}

.circleActive {
  @apply absolute w-3 h-3 bg-green-500 rounded-full align-middle right-2;
}