@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: var(--orange);
		--orange: #FFD5BA;
		--foreground: #000;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: var(--orange);
			--orange: #FFD5BA;
			--foreground: #000;
		}
	}
}

.animate-in {
	animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn-primary {
  @apply bg-black rounded-md px-4 py-2 text-orange mb-2;
}

.btn-secondary {
  @apply border-2 border-black rounded-md px-4 py-2 text-black font-bold mb-2;
}

.input-label > label {
	@apply text-red-500
}

.no-resize {
	resize: none;
}

.input{
	@apply rounded-md px-4 py-2 bg-inherit border-black border mb-6 shadow-md focus:border-2
}

.form{
	@apply flex-1 flex flex-col w-full justify-center gap-2 text-foreground
}

.form-error{
	@apply mt-4 p-4 bg-red-500 text-white
}

.white-container{
	@apply bg-white p-5 rounded-md shadow-2xl
}