@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: var(--orange);
		--orange: #FFD5BA;
		--foreground: #000;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: var(--orange);
			--orange: #FFD5BA;
			--foreground: #000;
		}
	}
}

* {
	text-transform: uppercase;
}

input, textarea{
	text-transform: none;
}

.animate-in {
	animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn-primary {
	@apply px-4 py-2 mb-2 text-center bg-black border-2 border-black rounded-md text-orange hover:opacity-70;
}

.btn-secondary {
	@apply px-4 py-2 mb-2 font-bold text-center text-black border-2 border-black rounded-md hover:opacity-70;
}

.input-label {
	@apply block mb-2 font-medium text-black
}

.input-label>label {
	@apply text-red-500
}

.no-resize {
	resize: none;
}

.input {
	@apply rounded-md px-4 py-2 bg-inherit border-black border shadow-md bg-white text-black focus:border-2 block w-full
}

.input-helper-text {
	@apply mt-3 text-gray-800
}

.form {
	@apply grid gap-4 w-full mx-auto
}

.form-error {
	@apply mt-4 p-4 bg-red-500 text-white rounded-md
}

.form-success {
	@apply mt-4 p-4 bg-green-500 text-white rounded-md
}

.white-container {

	@apply bg-white p-5 rounded-md shadow-2xl
}

.white-container-no-p {
	@apply bg-white rounded-md shadow-2xl
}

h1, h2 {
	@apply font-bold
}

h1 {
	@apply text-3xl
}

h2 {
	@apply text-2xl
}

h3 {
	@apply text-xl
}

.voucher {
	@apply bg-orange fixed p-5 rounded-md top-20
}

.close-button {
	@apply w-fit top-2 right-2 absolute
}

.voucher-background {
	@apply fixed top-0 left-0 w-full h-full flex justify-center bg-black bg-opacity-75 z-50
}

.voucher-part {
	@apply bg-white relative p-5 rounded-b-lg shadow-2xl border-t-2 text-center
}

.circle1, .circle2 {
	@apply absolute w-5 h-5 rounded-full bg-orange;
}

.circle1 {
	@apply left-3 top-60
}

.circle2 {
	@apply right-3 top-60
}